body {
    margin: 0;
    box-sizing: border-box;
}

.title {
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
}

.container {
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.section-1 {
  max-width: 500px;
    position: relative;
    margin-right: 20px;
    justify-content: center;
    flex-wrap: wrap;

    display: flex;
}

.answer {
    font-size: 50px;
    margin-bottom: 20px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hangedman {
    right: 72px;
    position: relative;
}

.Hint {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.SVG {
    position: absolute;

    &-head {
        right: 0px;
        top: 147px;
    }

    &-body {
        right: 48px;
        top: 244px;
    }

    &-leg-two {
        top: 369px;
        right: -16px;
    }

    &-leg-one {
        right: 46px;
        top: 368px;
    }

    &-hand-one {
        top: 245px;
        right: 47px;
    }

    &-hand-two {
        right: -14px;
        top: 245px;
    }
}

#modal {
    border: none;
    position: relative;
    z-index: 10;
    background-color: rgb(169, 185, 255);
    border-radius: 20px;
    width: 500px;
    height: 250px;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        margin-bottom: 0;
        font-size: 42px;
    }

    &__secret-word {
        font-size: 30px;
        font-weight: bold;
    }

    &-btn {
        cursor: pointer;
        background: none;
        font-size: 30px;
        font-weight: 700;
        border-radius: 20px;
        width: 300px;
        border: 1px solid black;
        height: 50px;
    }

    &-btn:hover {
        transition: all ease 1s;
        box-shadow: 2px 2px 10px 1px black;
    }
}

.key {
    background-color: #495eb8;
    margin: 0;
    width: 70px;
    height: 70px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 20%;
    font-weight: 700;
    border: none;
    color: white;
}

.key:hover {
    background-color: rgb(43, 64, 161);
}

span {
    position: relative;
    z-index: 10;
}

.keyboard {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
    max-width: 700px;
}



@media screen and (max-width: 1400px) {

    .key {
        width: 60px;
        height: 60px;
    }

    .Hint {
        font-size: 35px;
    }

    .title {
        font-size: 45px;
    }
}

@media screen and (max-width: 1200px) {
    .section-1 {
        max-width: 450px;
    }

    .hangedman {
        position: absolute;
        right: 48px
    }

    .key {
        width: 50px;
        height: 50px;
    }

    .Hint {
        font-size: 30px;
    }

    .title {
        font-size: 40px;
    }

    .answer {
        font-size: 40px;
    }
}


@media screen and (max-width: 1010px) {

  .section-1{
    margin-right: 30px;
  }
    .gallows {
        width: 300px;
    }

    .SVG {
        &-head {
            width: 70px;
            right: 9px;
            top: 147px;
        }

        &-body {
            width: 70px;
            right: 10px;
            top: 231px;
        }

        &-leg-two {
            width: 70px;
            top: 355px;
            right: -21px;
        }

        &-leg-one {
            width: 70px;
            right: 42px;
            top: 356px;
        }

        &-hand-one {
            top: 231px;
            right: 42px;
            width: 70px;
        }

        &-hand-two {
            width: 70px;
            right: -22px;
            top: 230px;
        }
    }

    .hangedman {
        right: 21px;
    }

    .key {
        width: 40px;
        height: 40px;
    }

    .Hint {
        font-size: 25px;
    }

    .title {
        font-size: 30px;
    }

    .answer {
        font-size: 25px;
    }
}

@media screen and (max-width: 930px) {

    .hangedman {
        right: 2px;
    }
}

@media screen and (max-width: 705px) {
    .container {
        flex-direction: column;
    }

    .section-1 {
        margin-right: 0;
        max-width: 370px;
    }

    .gallows {
        height: 420px;
        width: 300px;
    }

    .SVG {
        &-head {
            width: 70px;
            right: 9px;
            top: 147px;
        }

        &-body {
            width: 70px;
            right: 10px;
            top: 231px;
        }

        &-leg-two {
            width: 70px;
            top: 355px;
            right: -21px;
        }

        &-leg-one {
            width: 70px;
            right: 42px;
            top: 356px;
        }

        &-hand-one {
            top: 231px;
            right: 42px;
            width: 70px;
        }

        &-hand-two {
            width: 70px;
            right: -22px;
            top: 230px;
        }
    }

    .hangedman {
        right: 50px;
        top: -60px;
    }

    .key {
        font-size: 20px;
        width: 35px;
        height: 35px;
    }

    .Hint {
        font-size: 20px;
    }

    .title {
      margin-bottom: 0;
        margin-top: 0;
        font-size: 25px;
    }

    .answer {
        font-size: 20px;
    }
}


@media screen and (max-width: 460px) {
    .container {
        flex-direction: column;
    }

    .section-1 {
        margin-right: 0;
        min-width: 344px;
    }

    .gallows {
        width: 300px;
        height: 300px;
    }

    .SVG {
        &-head {
            width: 50px;
            right: 9px;
            top: 147px;
        }

        &-body {
            width: 50px;
            height: 90px;
            right: 10px;
            top: 222px;
        }

        &-leg-two {
            width: 50px;
            top: 296px;
            right: -14px;
        }

        &-leg-one {
            width: 50px;
            right: 32px;
            top: 295px;
        }

        &-hand-one {
            top: 210px;
            right: 33px;
            width: 50px;
        }

        &-hand-two {
            width: 50px;
            right: -13px;
            top: 210px;
        }
    }

    .hangedman {
        right: 76px;
        top: -98px;
    }

    .key {
        font-size: 20px;
        width: 30px;
        height: 30px;
    }

    .Hint {
        font-size: 20px;
    }

    .title {
        margin-top: 0;
        font-size: 20px;
    }

    .answer {
        font-size: 20px;
    }
}