@import "_variables.scss";
@import "fonts.scss";
.footer{
 
  &__container{
    background-color: #665F55;
    height: 450px;
    margin-bottom: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
  }
  &__svg-border{
    cursor: pointer;
  }
   &__svg-icon{
    cursor: pointer;
  }
    &__img{
      width: 60px;
      height: 60px;
      margin-right: 8px;
      transition: ease all 2s;
      &:hover{
      .footer__svg-border{
         transition: all ease 2s;
        stroke: none;
        fill: $light;   
  }
      .footer__svg-icon{  
        transition: ease all 2s;
        stroke: #403F3D;
  }
      }
    }
  &__title{
  margin: 0 0 40px 0;
  font-family: Inter;
  letter-spacing: 0.5px;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: $light;
  }
}

.contacts{
  &__link{
    width: 262px;
    height: 116px;
  }
  &__title{
    padding-top: 16px;
    margin: 0 0 40px 0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color:$light;
  }
}

.contact-item{
  letter-spacing: 0.3px;
  font-family: Inter;
  margin: 0 0 16px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 24px;
  line-height: 150%;
  
  color: $light;
  &_link{
    margin-bottom: 16px;
    width: 182px;
    height: 28px;
    &:hover .underline{
       transition: ease all 1s;
    opacity: 1;
    width: 100%;
    border: 1px solid $light;
    }
  }
  }


.links{
  padding-left: 100px;
  width: 530px;
  margin-right: 100px;
}

.contacts{
  width: 530px;
}

