@import "_variables.scss";
.footer{
 
  &__container{
    background-color: #665F55;
    height: 450px;
    margin-bottom: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__svg-border{
    cursor: pointer;
  }
   &__svg-icon{
    cursor: pointer;
  }
    &__img{
      width: 60px;
      height: 60px;
      margin-right: 12px;
      transition: ease all 2s;
      &:hover{
      .footer__svg-border{
         transition: all ease 2s;
        stroke: none;
        fill: $light;   
  }
      .footer__svg-icon{  
        transition: ease all 2s;
        stroke: #403F3D;
  }
      }
    }
  &__title{
  margin: 0 0 40px 0;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: $light;
  }
}

.contacts{
  &__title{
    margin: 0 0 40px 0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color:$light;
  }
}

.contact-item{
  font-family: Inter;
  margin: 0 0 16px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: $light;
  &_link{
    &:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    }
  }
  }


.links{
  width: 530px;
}

.contacts{
  width: 530px;
}

