@import "_variables.scss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $light;
}
.container{
  width: 1440px;
  margin: 0 auto;
}
.creamy{
  color: $text-accent;
}
@import "normalize.scss";
@import "fonts.scss";
@import "header.scss";
@import "hero.scss";
@import "favorite-coffee.scss";
