@import "../variables";
@import "../fonts.scss";

.modal{
  top: 30vmin;
  left: 30vmax;
  background-color: $light;
  position: fixed;
  z-index: 12;
  width: 76.8rem;
  padding: 1.6rem;
  height: 47.2rem;
  border-radius: 4rem;
  &__back{
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 300%;
  }
  &__preview{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: 76.8rem;
    height: 47.2rem;
  }
  &__description{
    width: 45.8rem;
    height: 47.2rem;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;

  }
  &__menu-description{
    width: 43.8rem;
    height: 9rem;
  }
  &__size{
    width: 43.8rem;
    height: 7.8rem;
  }
  &__title{
    margin: 0 0 0.8rem 0;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
  }
  &__section{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  &__additives{
    width: 43.8rem;
    height: 7.8rem;
  }
  &__total{
    width: 43.8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
  }
  &__price{
    width: 20.9rem;
    &_right{
      text-align: right;
    }
  }
  &__alert{
    display: flex;
    padding: 12px 0px;
    border-top: 1px solid var(--border-light, #C1B6AD);
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    width: 43.8rem;
    height: 2.8rem;
  }
  &__button{
    cursor: pointer;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    background-color: transparent;
    display: flex;
    padding: 1rem 7.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    align-self: stretch;
    width: 43.8rem;
    height: 4.4rem;
    border-radius: 10rem;
    border: 1px solid var(--border-dark, #665F55);
    &:hover{
       border: none;
       color: $light;
       background-color: #665F55;
    }
  }
}


.alert{
  &__text{
  margin: 0;
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop/Body/caption */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; 
  }
  &__svg{
    width: 1.6rem;
    height: 1.6rem;
  }
}


.tab-item{
  &__char{
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
  }
}