@import "../variables";
@import "../fonts.scss";

html{
  @media(max-width: 1440px) {

    font-size: calc(100vw / 1440 * 10);

  }

}


html{
  @media(max-width: 1200px) {

    font-size: calc(100vw / 1200 * 10);

.coffee-grid {
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr);
    display: grid;
    gap: 4rem;
}


.menu-offer__title {
    padding-left: 0rem;
}

.menu-offer {
    align-items: center;
}
.tabs {
  padding-left: 0;
    display: flex;
    justify-content: center;
}


.header{
  &__container{
    justify-content: space-between;
  }
}

.images {
    grid-template-rows: 32rem 48rem;
    grid-template-columns: 55rem 55rem;
}

.big-img {
    width: 55rem;
    height: 48rem;
}
.big-border {
   width: 55rem;
    height: 48rem;
    
}

.small-img {
    width: 55rem;
    height: 32rem;
}
.small-border {
    width: 55rem;
    height: 32rem;
}

.hero__img {
    width: 114rem;
  }

  .slider {
    width: 114rem;
  }

  .about__title {

    width: 114rem;
  }
  .images {
    width: 114rem;
  }

    .container{
      width: 114rem;
    }
    
    
    .navbar{
      padding-left: 0;
      width: 48rem;
    }
  }

  
}


html{
  @media(max-width: 991px) {

    font-size: calc(100vw / 991 * 10);


.coffee-grid {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    display: grid;
    gap: 4rem;
    padding-left: 1.1rem;
}

.load-icon-svg{
  width: 6rem;
  height: 6rem;
  position: relative;
  left: 30.3rem;
  top: -0.5rem;
}

.header{
  &__container{
    justify-content: space-between;
  }
}

.images {
    grid-template-rows: 32rem 48rem;
    grid-template-columns: 55rem 55rem;
}

.big-img {
    width: 68.8rem;
    height: 59rem;
}
.big-border {
   width: 68.8rem;
    height: 59rem;
}

.small-img {
    width: 68.8rem;
    height: 43rem;
}
.small-border {
    width: 68.8rem;
    height: 43rem;
}

.hero__img {
    width: 72rem;
  }

  .slider {
    width: 72rem;
  }

  .about__title {

    width: 72rem;
  }
  .images {
    width: 72rem;
  }

    .container{
      width: 72rem;
    }
    
    
    .navbar{
      padding-left: 0;
      width: 48rem;
    }
  
  .images {
    grid-template-rows: 59rem 43rem 43rem 59rem;
    grid-template-columns: 68.8rem;
}

.favorite-coffee__title{
  text-align: center;
}
.images__img_top{
  top: 0;
}
.mobile-app__container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 9.4rem;
}

.footer__container {
    height: auto;
    display: flex;
    flex-direction: column;

}
.links{
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.contacts{
  margin-bottom: 10rem;
}

.offer{
  margin-bottom: 10rem;
}

}
}




html{

  @media(max-width: 768px) and (min-width: 576px) {

    font-size: calc(100vw / 768 * 10);

  .tabs{
          padding-left: 16.4rem;
    }
.small-img{
  display: none;
}


.preview_hide{
  display: none;
}


  @media(max-width: 768px) {

    font-size: calc(100vw / 768 * 10);

.small-img{
  display: none;
}

.small-border{
  display: none;
}
.images {
    grid-template-rows: 48rem 48rem;
    grid-template-columns: 55rem;
}

.coffee-menu_link{
  display: none;
}

.menu-offer__title{
    text-align: center;
    width: 68.8rem;
}
.menu-offer{
  align-items: flex-start;
}

.header{
  &__container{
    justify-content: space-between;
  }
}

.images {
    grid-template-rows: 32rem 48rem;
    grid-template-columns: 55rem 55rem;
}

.big-img {
    width: 68.8rem;
    height: 59rem;
}
.big-border {
   width: 68.8rem;
    height: 59rem;
    position: relative;
    top: -0.6rem;
    left: 1.5rem;
}




.hero__img {
    width: 68.8rem;
  }

  .slider {
    width: 72rem;
  }

  .about__title {

    width: 68.8rem;
  }
  .images {
    width: 72rem;
  }

    .container{
      width: 68.8rem;
    }
    
    
    .navbar{
      display: none;
    }
    .hero__offer{
      left: 6rem;
    }
.slider__arrow-left {
    top: -0.9rem;
    left: 1.6rem;
}

.slider__arrow-right {
    top: -1rem;
    left: -1.7rem;
}

.about__title {
  position: relative;
    top: -0.8rem;
}

.about__title {
    line-height: 124%;
    letter-spacing: 0.1rem;
    word-spacing: -0.2rem;
}
    .favorite-coffee__title{
          letter-spacing: 0.07rem;
    }
    .hero__title{
      letter-spacing: 0.1rem;
    }
    .hero-button__text {
    padding: 0.3rem 0 0 6.5rem;
    }
  .images {
    grid-template-rows: 59rem 59rem;
    grid-template-columns: 68.8rem;
}

.favorite-coffee__title{
  text-align: center;
}

.offer__title {
letter-spacing: 0;
    word-spacing: 0.26rem;
    width: 68.8rem;
    line-height: 119%;
}
.offer__text {

    width: 68.8rem;
}

.images__img_top{
  top: 0;
}
.mobile-app__container {
    flex-direction: column;
    align-items: flex-start
}
.mobile-screens{
    position: relative;
    top: -0.6rem;
    left: 3rem;
}

.footer__container {

    height: auto;
    display: flex;
    flex-direction: column;

}
.links{
  margin-bottom: 10rem;
  padding-left: 6rem;
}

.contacts{
  margin-bottom: 10rem;
}

.offer{
  margin-bottom: 10rem;
}

.footer__container{
  align-items: flex-start;
}

.contacts{
  

    margin-left: 6rem;
}


.hero-img{
  opacity: 1;
}


.burger-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 4.4rem;
  height: 4.4rem;
  border: 0.1rem solid black;
  border-radius: 10rem;

  &__vector{
  &:last-child{
    margin-bottom: 0;
  }

    margin-bottom: 0.8rem;
    display: block;
    height: 0;
    width: 1.6rem;
    border-radius: 20%;
    border: 0.1rem solid black;
  }
}

.menu-link{
  display: none;
}

}



}
}