

.darkTheme-hover-color {
  border: 1px solid #e5e5e5;
  &:hover{
    cursor: pointer;
      background: #2b2e2f;
  }
}



    .darkTheme-bg-records{
        &>thead>tr>th {
          background-color: #000000;
      
          }
        
          &>tbody>tr>td {
            background-color: #000000;
                      }
    }

    .darkTheme-br{
      border: white 1px solid;
    }