.game{
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-bottom: 50px;
  gap: 2rem;
}

.game-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 2;;
}

.aside{
  display: none;
  position: relative;
  align-self: flex-start;
}


.records{
  border: solid 1px;
  border-collapse: collapse;
  table-layout: fixed;
  &>thead>tr > th{
      border: solid black 1px;
      padding: 5px;
    }
  & > tbody > tr{
      border: solid 1px;
    }
  & > tbody > tr > td{
      border: solid black 1px;
      padding: 5px;
      text-align: center;
  }
}



