@import "./game-section.scss";
@import "./options-section.scss";
@import "./timer.scss";
@import "./modal.scss";
@import "./header.scss";
@import "./dark-theme.scss";
@import "./light-theme.scss";
* {
  margin: 0;
  box-sizing: border-box;
}



body{

  padding-top: 50px;
} 
