.options{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  &-container{
    display: flex;
      align-items: center;
      flex-wrap: wrap;
  }
}

.level{
  appearance: none;
  padding: 5px;
  background: none;
  border: 1px solid black;
  outline: 0px;
  font-size: 18px;
  &-label{
    font-size: 18px;
    color: #e5e5e5;
  }
}

.btn{
  background:none;
  font-size: 18px;
  border: none;
  padding: 7px;

 
}